/* @media only screen and (min-width: 1000px){ */
.navbar{
  /* position: fixed; */
  /* border: 1px solid black; */
  display: flex;
  align-items: space-between;
  flex: 1;
  width: 100%;
  margin: 0;
  
}

.navbar .left{
  display: flex;
  flex: 1;
  align-items: center;
}

.navbar .center { 
  display: flex;
  flex-direction: row;
}

.navbar .center .item {
  padding: 10px 40px;
}

.navbar .right {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}


.banner { 
  background: #fd3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.story {
  border: 1px solid black; 
}

.container { 
  display: flex;
}
/* } */


@media only screen and (max-width: 700px){
  .navbar{
    /* position: fixed; */
    /* border: 1px solid black; */
    display: flex;
    align-items: space-between;
    flex: 1;
    width: 100%;
    margin: 0;
    
  }
  
  .navbar .left{
    display: flex;
    flex: 1;
    align-items: center;
  }
  
  .navbar .center { 
    display: none;
  }
  
  .navbar .center .item {
    padding: 10px 40px;
  }
  
  .navbar .right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
  
  
  .banner { 
    display: none;
  }
}